<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ioService" class="ru.otus.infrastructure.ConsoleIOService">
        <constructor-arg name="output" value="#{T(java.lang.System).out}"/>
        <constructor-arg name="input" value="#{T(java.lang.System).in}"/>
    </bean>

    <bean id="quizDao" class="ru.otus.quiz.dao.QuizCsvDao">
        <constructor-arg value="/quiz.csv"/>
    </bean>

    <bean id="quizRunner" class="ru.otus.quiz.SimpleQuizRunner">
        <constructor-arg name="quizDao" ref="quizDao"/>
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>

</beans>
